:root {
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(circle at center top, #222121 40%, #1A1414 100%);
}

.app {
  display: flex;
  color: #FFF3EB;
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  justify-content: center;
}

.profile {
  display: flex;
  margin: 0 auto;
  margin-left: -1150px;
  margin-top: 5rem;
  position: fixed;
  background-color: #272525;
  border-radius: 8px;
  width: 300px;
  height: 450px;
  padding: 25px;
  box-sizing: border-box;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #272525;
  border-radius: 8px;
  width: 700px;
  height: fit-content;
  padding: 50px;
  margin: 0 auto;
  margin-top: 5rem;
  align-self: center;
}

.headerArt {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: 0% 45%;
  border: 2px solid #BC6E52;
  border-radius: 8px;
}

.projects > p {
  align-self: flex-start;
}

.projects > p::first-letter {
  -webkit-initial-letter: 3;
  initial-letter: 3;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 220px;
  height: 220px;
  border-radius: 8px;
  border: 1px solid #565555;
  background-color: #211F1F;
  box-sizing: border-box;
  font-size: 16px;
  padding: 15px;
  box-shadow: 0px 0px 10px -4px #565555;
}

.card > p {
  margin: 0;
}

.inlineStat {
  font-size: 2rem;
}